mat-toolbar {
    background: #004a9f;
    color: white;
}
:root{
    --bg-size: calc(100vh - 130px);
    --background-main-color: #ffa400;
}
mat-sidenav {
    width: 17rem;
    height : 100%;
    border-right: none;
    background: #2C3E50;
    color: white;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    background: url(/assets/layout/images/backgr.jpg);
    background-size: cover;
    background-position: center;
    overflow: auto;
}

mat-sidenav-container {
    height: 100vh;
}
.sidebar-logo {
    position: relative;
    height: 100px;
    // padding-left: 24px;
    overflow: hidden;
    line-height: 80px;
    transition: all 0.3s;
}
.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    mat-icon {
        margin-right: 8px;
    }
}
.sub-menu {
    // Các quy tắc CSS tùy chỉnh cho sub-menu
    // Ví dụ:
    font-size: 0.8rem;
    mat-icon {
        font-size: 20px;
    }
}
.submenu-wrapper {
    overflow: hidden;
    margin-left: 10px
}
.topbaricon{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
