<p-toolbar class="myToolbar">
    <div class="p-toolbar-group-left">
        <span class="mb-1 fs-large">Repository</span>
    </div>
    <div class="p-toolbar-group-left">
        <button class="tool cmis-btn" icon="pi pi-forward"
                label="Chuyển tiếp CT QLVH"
                pButton
                type="button"></button>
    </div>
</p-toolbar>
<div class="scroll-full-height-ex-2 mt-3 mb-2">

    <div class="grid dashboard">
        <div class="col-12 lg:col-3">
            <div class="card flex flex-column" style="height: 90%">
                <div
                    class="flex flex-column justify-content-center align-items-center p-5 rounded-normal content-alt-bgcolor"
                    style="height: 100%; background: #F3B405 !important;">
                    <span class="pi pi-plus fs-large"></span>
                </div>
                <div class="flex flex-column align-items-center pt-3 mt-auto">
                    <span class="mb-1 fs-large">New Repository</span>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card height-80 flex flex-column">
                <div class="flex justify-content-center p-5 rounded-normal content-alt-bgcolor">
                    <img src="assets/layout/images/widgets/feature-faq.svg" alt="feature-faq">
                </div>
                <div class="flex justify-content-between align-items-center pt-3 mt-auto">
                    <small class="muted-text">46 Questions</small>
                    <p-button label="VIEW FAQ"></p-button>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card height-80 flex flex-column">
                <div class="flex justify-content-center p-5 rounded-normal content-alt-bgcolor">
                    <img src="assets/layout/images/widgets/feature-faq.svg" alt="feature-faq">
                </div>
                <div class="flex justify-content-between align-items-center pt-3 mt-auto">
                    <small class="muted-text">46 Questions</small>
                    <p-button label="VIEW FAQ"></p-button>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card height-80 flex flex-column">
                <div class="flex justify-content-center p-5 rounded-normal content-alt-bgcolor">
                    <img src="assets/layout/images/widgets/feature-faq.svg" alt="feature-faq">
                </div>
                <div class="flex justify-content-between align-items-center pt-3 mt-auto">
                    <small class="muted-text">46 Questions</small>
                    <p-button label="VIEW FAQ"></p-button>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card height-80 flex flex-column">
                <div class="flex justify-content-center p-5 rounded-normal content-alt-bgcolor">
                    <img src="assets/layout/images/widgets/feature-faq.svg" alt="feature-faq">
                </div>
                <div class="flex justify-content-between align-items-center pt-3 mt-auto">
                    <small class="muted-text">46 Questions</small>
                    <p-button label="VIEW FAQ"></p-button>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card height-80 flex flex-column">
                <div class="flex justify-content-center p-5 rounded-normal content-alt-bgcolor">
                    <img src="assets/layout/images/widgets/feature-faq.svg" alt="feature-faq">
                </div>
                <div class="flex justify-content-between align-items-center pt-3 mt-auto">
                    <small class="muted-text">46 Questions</small>
                    <p-button label="VIEW FAQ"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
