.card-fix {
    background: rgba(211, 211, 211, 0.42);
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(9px);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.account-detail{
    height : 30vh
}
@media screen and (max-height: 800px) {
    .account-detail {
        height : 50vh
    }
    .resdient-detail{
        height : 75vh
    }
}
