<div class="grid dashboard justify-content-center" style="    height: 80vh;">
    <div class="col-12 lg:col-8">
        <div class="card-fix height-100">
            <div class="card-header" style="text-align: center;color : white;">
                <h2>{{header}}</h2>
            </div>
            <div class="flex flex-column md:flex-row">
                <div class="mb-2 mr-2 flex flex-row md:flex-column justify-content-around" style="flex : 0.7;">
                    <p-button styleClass="p-button-outlined" (click)="onChuaThanhToan()" >
                        <img alt="logo" src="assets/demo/Chuathanhtoan.jpg" style="width: 73px;height: 38px;"/>
                    </p-button>
                    <p-button styleClass="p-button-outlined" (click)="onDaThanhToan()">
                        <img alt="logo" src="assets/demo/thanhtoan.jpg" style="width: 73px;height: 38px;"/>
                    </p-button>
                </div>
                <div class="mb-2 mr-2" style="flex : 3;overflow-y: scroll; max-height: 60vh; min-height: 60vh;" id="product-list">
                    <div class="col-12" *ngFor="let apart of products">
                        <div class="item flex flex-column md:flex-row align-items-center">
                            <div class="mb-2 mr-2 apart-list-detail">
                                <h2>{{apart.name}}</h2>
                                <div *ngIf="apart.status" style="color: green" class="apart-description">{{apart.description}}</div>
                                <div *ngIf="!apart.status" style="color: red" class="apart-description">{{apart.description}}</div>
                            </div>
                            <div class="mb-2 mr-2 apart-list-action flex flex-row md:flex-column justify-content-around">
                                <i class="pi pi-clock" class="mb-2 align-self-end">{{apart.createdDate| date: 'dd/MM/yyyy'}}</i>
                                <p-button class="mb-2 align-self-end" *ngIf="!apart.status" icon="pi pi-wallet" label="Thanh toán" [disabled]="apart.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
