<div class="scroll-full-height-ex">
    <div class="grid">
        <p-panel class="col-12 md:col-3 lg:col-3 m-0" header="Chọn báo cáo">
            <div class="scroll-bcnocompo-2">
                <p-scrollPanel mode="native">
                    <p-tree [value]="files1" selectionMode="single"
                            (onNodeSelect)="handleClick($event)"></p-tree>
                </p-scrollPanel>
            </div>
        </p-panel>
        <p-panel class="col-12 md:col-9 lg:col-9 mt-2">
            <div class="scroll-bcnocompo-2">
                <p-tabView orientation="left">
                    <p-tabPanel header="Content" leftIcon="pi pi-file">
                        <p-scrollPanel mode="native">
                            <pre><code [highlight]="fileContent" [languages]="['typescript']"
                                       (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        </p-scrollPanel>
                    </p-tabPanel>
                    <p-tabPanel header="History" leftIcon="pi pi-history" id="product-list">
                        <div style="width: 800px; height: 400px;">
                        </div>
                    </p-tabPanel>

                    <p-tabPanel header="Compare" leftIcon="pi pi-mobile" id="product-list">
                    </p-tabPanel>
                </p-tabView>
            </div>
        </p-panel>
    </div>
</div>
